<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>Sentinel Dashboard</h1>

    <p>Welcome, {{ username }}!</p>

<div class="stats-container">
    <div class="stat-card">
        <h3>Successful Logins</h3>
        <p>{{ stats["successful_logins"] }}</p>
    </div>

    <div class="stat-card">
        <h3>Failed Logins</h3>
        <p>{{ stats["failed_logins"] }}</p>
    </div>

    <div class="stat-card">
        <h3>Security Alerts</h3>
        <p>{{ stats["total_alerts"] }}</p>
    </div>
</div>

    <h2>Recent Login Activity</h2>

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Timestamp</th>
            <th>IP Address</th>
        </tr>

        {% for attempt in attempts %}
        <tr>
            <td>{{ attempt[0] }}</td>

            <td>
                {% if attempt[1] == 1 %}
                    Success
                {% else %}
                    Failed
                {% endif %}
            </td>

            <td>{{ attempt[2] }}</td>
            <td>{{ attempt[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <h2>Security Alerts</h2>

    <table>
        <tr>
            <th>Alert Type</th>
            <th>Severity</th>
            <th>Description</th>
            <th>Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for alert in alerts %}
        <tr>
            <td>{{ alert[1] }}</td>
            <td>{{ alert[2] }}</td>
            <td>{{ alert[3] }}</td>
            <td>{{ alert[4] }}</td>
            <td>{{ alert[5] }}</td>

            <td>
                {% if alert[5] == "OPEN" %}
                    <form
                        method="POST"
                        action="{{ url_for('resolve_alert', alert_id=alert[0]) }}"
                    >
                        <button type="submit">Resolve</button>
                    </form>
                {% else %}
                    Resolved
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>