<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <h1>Sentinel Dashboard</h1>

    <p>Welcome, {{ username }}!</p>

    <div class="stats-container">
        <div class="stat-card">
            <h3>Successful Logins</h3>
            <p>{{ stats["successful_logins"] }}</p>
            <span>Last 24 hours</span>
        </div>

        <div class="stat-card">
            <h3>Failed Logins</h3>
            <p>{{ stats["failed_logins"] }}</p>
            <span>Last 24 hours</span>
        </div>

        <div class="stat-card">
            <h3>Security Alerts</h3>
            <p>{{ stats["total_alerts"] }}</p>
            <span>Last 24 hours</span>
        </div>
    </div>

    <h2>Recent Login Activity</h2>

    <table border="1">
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Timestamp</th>
            <th>IP Address</th>
        </tr>

        {% for attempt in attempts %}
        <tr>
            <td>{{ attempt[0] }}</td>

            <td>
                {% if attempt[1] == 1 %}
                    Success
                {% else %}
                    Failed
                {% endif %}
            </td>

            <td>{{ attempt[2] }}</td>
            <td>{{ attempt[3] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br>

    <h2>Security Alerts</h2>
        <div class="filters">
            <a href="{{ url_for('dashboard') }}">All</a>

            <a href="{{ url_for('dashboard', status='OPEN') }}">
                Open
            </a>

            <a href="{{ url_for('dashboard', status='RESOLVED') }}">
                Resolved
            </a>
        </div>
        <div class="filters">
            <h3>Status</h3>

            <a href="{{ url_for('dashboard', severity=severity_filter) }}">
                All
            </a>

            <a href="{{ url_for('dashboard', status='OPEN', severity=severity_filter) }}">
                Open
            </a>

            <a href="{{ url_for('dashboard', status='RESOLVED', severity=severity_filter) }}">
                Resolved
            </a>
        </div>

        <div class="filters">
            <h3>Severity</h3>

            <a href="{{ url_for('dashboard', status=status_filter) }}">
                All
            </a>

            <a href="{{ url_for('dashboard', status=status_filter, severity='HIGH') }}">
                High
            </a>

            <a href="{{ url_for('dashboard', status=status_filter, severity='MEDIUM') }}">
                Medium
            </a>

            <a href="{{ url_for('dashboard', status=status_filter, severity='LOW') }}">
                Low
            </a>
        </div>
    <table>
        <tr>
            <th>Alert Type</th>
            <th>Severity</th>
            <th>Description</th>
            <th>Timestamp</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for alert in alerts %}
        <tr>
            <td>{{ alert[1] }}</td>
            <td>{{ alert[2] }}</td>
            <td>{{ alert[3] }}</td>
            <td>{{ alert[4] }}</td>
            <td>{{ alert[5] }}</td>

            <td>
                {% if alert[5] == "OPEN" %}
                    <form
                        method="POST"
                        action="{{ url_for('resolve_alert', alert_id=alert[0]) }}"
                    >
                        <button type="submit">Resolve</button>
                    </form>
                {% else %}
                    Resolved
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('logout') }}">Logout</a>
</body>